<!DOCTYPE html>
<html>
    <head>
        <title>
        {% block title %}{% endblock title %}
        </title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="{% url 'category_list' %}">Category list</a></li>
                        <li><a href="{% url 'account_list' %}">Account list</a></li>
                        <li><a href="{% url 'create_receipt' %}">Create receipt</a></li>
                        <li><a href="{% url 'create_category' %}">Create category</a></li>
                        <li><a href="{% url 'create_account' %}">Create account</a></li>
                        <li><a href="{% url 'logout' %}">Logout</a></li>
                    {% else %}
                        <li><a href="{% url 'login' %}">Login</a></li>
                        <li><a href="{% url 'signup' %}">Sign up</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        {% block content %}{% endblock content %}
        <footer>
        </footer>
    </body>
</html>
